.md-typeset h1 { color: #0078d4; }
/* Masquer le volet de navigation gauche de material*/
.md-sidebar--primary { display: none !important;} 
.md-content { max-width: 100% !important; margin:0 !important;}
.md-grid { max-width: 100% !important; }
/* Mise en page de la table des matières */
.somLab { margin-bottom: 2rem; } 
.somLabTit { font-size: 1.4rem; font-weight: 600; margin-bottom: 0.5rem; }
.somEx { display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem; }
.somExLink { text-decoration: none; }
.somDuree { color: #666; font-size: 0.9rem; }
/*Liste des stages sur page d'accueil*/
.listeStages { list-style: none; padding-left: 0; }
.listeStages li { margin-bottom: 0.5rem; }
.listeStages a { font-size: 1.2rem; font-weight: 600; text-decoration: none; }

.md-content__inner { min-height: calc(100vh - 12rem); display: flex; flex-direction: column; }
.pageUpdateFooter {text-align: right; font-size: 0.65em; color: rgba(255,255,255,.7); margin-top: .2rem;}