.md-typeset h1 { color: #0078d4; }
/* Masquer le volet de navigation gauche de material*/
.md-sidebar--primary { display: none !important;} 
.md-sidebar--secondary { display: none !important;} 
.md-content { max-width: 100% !important; margin:0 !important;}
.md-grid { max-width: 100% !important; }
/* Mise en page de la table des matières */
.somLab { margin-bottom: 2rem; } 
.somLabTit { font-size: 1.4rem; font-weight: 600; margin-bottom: 0.5rem; }
.somEx { display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem; }
.somExLink { text-decoration: none; }
.somDuree { color: #666; font-size: 0.9rem; }
/*Liste des stages sur page d'accueil*/
.listeStages { list-style: none; padding-left: 0; }
.listeStages li { margin-bottom: 0.5rem; }
.listeStages a { font-size: 1.2rem; font-weight: 600; text-decoration: none; }

.md-content__inner { min-height: calc(100vh - 12rem); display: flex; flex-direction: column; }
.old .git-revision-date-localized-plugin { font-size: 0.5rem; color: #888; display: flex; position: absolute; right: 1em; bottom: 1em; }
.md-source-file__fact { font-size: 0.5rem; color: #888; display: flex; position: absolute; right: 1em; bottom: 1em; }
/*Navigation entre les exercices */
.navEx {  display: grid; grid-template-columns: 1fr auto 1fr; align-items: center; margin-top: 1rem; padding-top: .4rem; border-top: 1px solid #ececec; font-size: .80rem; font-family: "Segoe UI", sans-serif;font-size: .8rem;}
.navPrev { justify-self: start; font-weight: 400;}
.navSom { justify-self: center; font-weight: 500;}
.navNext { justify-self: end; font-weight: 400;}
.navEx a { text-decoration: none; color: #666; font-weight: 400; transition: color .2s ease; }
.navEx a:hover { color: #003366; }

/* Mise en forme des notes */
blockquote { border-left: 3px solid #0078d4; background: #f5f9ff; padding: .75rem 1rem; }
blockquote p:first-child::before { content: "Note : "; font-weight: 600; color: #0078d4; }

.exerciceRef { font-weight: 400; text-decoration: underline; display:inline-block; margin-bottom: .8rem;}

/* Gestion des espaces entre les paragrpahes */
.md-typeset p { margin: 0.45em 0;}
.md-typeset p + ol, .md-typeset p + ul { margin-top: -0.3em; }
.md-typeset h1 { margin-bottom: .4rem; }
.md-typeset h2 { margin-bottom: .25rem; margin-top: 1rem; }
.md-typeset li { margin-bottom: .15rem; }

/* Gestion des boutons de copie de code */
.ibCodeBlock { position: relative; }
.ibCopyButton { position: absolute; top: .10rem; right: .4rem; z-index: 9999; width:1.6rem; height:1.6rem; border: none; background: transparent; cursor: pointer; padding: .25rem; color: rgba(0,0,0,.20); transition: all .2s ease; }
.ibCopyButton:hover { color: rgba(0,0,0,.65); }
.ibCopyButton svg { width: 1rem; height: 1rem; fill: currentColor; }
.ibCopyButton.ok,.ibInlineCopyButton.ok { color: #16a34a; }

.ibInlineCode { display: inline-flex; align-items: center; gap: .15rem; padding: .05rem .25rem; border-radius: .2rem; background-color: var(--md-code-bg-color);}
.ibInlineCode code { background: transparent; padding: 0; }
.ibInlineCode:hover .ibInlineCopyButton {opacity: .4;}
.ibInlineCopyButton:hover {opacity: 1 !important;}

.ibInlineCopyButton { border: none; background: transparent; width: .9rem; height: .9rem; padding: 0; cursor: pointer; color: rgba(0,0,0,.20); vertical-align: middle; transition: color .2s ease; opacity: 0;}
.ibInlineCopyButton:hover { color: rgba(0,0,0,.60); }
.ibInlineCopyButton svg { width: .8rem; height: .8rem; fill: currentColor; }

/* Les checkbox à cocher */
.ibLabCheckbox { margin-right: .5rem; vertical-align: middle; }
